.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  color: rgb(158, 118, 30);
  background-color: rgb(243, 228, 180);
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  background-color: rgb(158, 118, 30);
  color: rgb(243, 228, 180);
}
